@import "../../styles/theme";

.header {
  height: 64px;
  border: none;
  font-weight: 500;
  padding: 0.9rem 40px;
  justify-content: flex-end;
}

.root {
  .nav {
    height: 100%;
  }
}

.navItem {
  font-size: 1.5rem;
  outline: 0;
  text-align: center;
  padding: 0rem 1rem;

  &:hover,
  &:focus {
    color: $white !important;
  }
}

.headerIcon {
  fill: $icon-color;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 40px;
  width: 40px;
  background: $blue;
  font-weight: 600;
  font-size: 18px;
  margin-right: 10px;
  img {
    height: 100%;
  }
}

.accountCheck {
  color: $icon-color;
  font-weight: $font-weight-normal;
  font-size: 1rem;
}

.divider {
  display: block;
  width: 1px;
  margin: 10px 14px;
  background: $icon-color;
}
